[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
mysql-connector-python = "*"
dash = "*"
pandas = "*"
flask = "*"
python-dotenv = "*"
numpy = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
